.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1em;
  border-top: 1px solid #eee;

  & p {
    font-size: 0.7rem;
    color: #aaa;
  }
}
